# JWT configuration
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=90m

# Application port
PORT=3000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# SQLite (Local file-based database)
DATABASE_URL="file:./dev.db"

# PostgreSQL
# DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"

# MySQL
# DATABASE_URL="mysql://username:password@localhost:3306/mydb"

# MongoDB
# DATABASE_URL="mongodb://username:password@localhost:27017/mydb?authSource=admin"

# SQL Server
# DATABASE_URL="sqlserver://localhost:1433;database=mydb;user=username;password=password;trustServerCertificate=true"

# CockroachDB
# DATABASE_URL="postgresql://username:password@localhost:26257/mydb?sslmode=require"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=